{% extends "buyer.html" %}

{% block seller_content %}
    <a class="back" href="{{ url_for('buyer.index') }}"><button type="button" class="edit-btn">Back</button></a>
    <p>Welcome, Buyer!</p>
    
    <div class="product-grid">
        {% for item in products %}
            <div class="product-card">
                <h3>{{ item.p_name }}</h3>
                <div class="product-details">
                    <p><strong>ID:</strong> {{ item.p_id }}</p>
                    <p><strong>Brand:</strong> {{ item.p_brand }}</p>
                    <p><strong>Condition:</strong> {{ item.p_condition }}</p>
                    <p><strong>Type:</strong> {{ item.p_type }}</p>
                    <p><strong>Quality:</strong> {{ item.p_quality }}</p>
                    <p><strong>Quantity:</strong> {{ item.p_quantity }}</p>
                    <p><strong>Price:</strong> ₱{{ item.p_price }}</p>
                    <p><strong>Material:</strong> {{ item.p_material }}</p>
                    <p><strong>Design:</strong> {{ item.p_design }}</p>
                    <a href="{{ url_for('buyer.order_1', product_id=item.p_id) }}" class="buy-button">Buy Now</a>
                </div>
                
            </div>
        {% endfor %}
    </div>
   
{% endblock %}
